body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

  img {
      max-width: 400px;
  }

  nav a.current {
    font-weight: bold;
    text-decoration: underline; /* or whatever style you want */
}

:root{
  color-scheme: light dark;
}

nav {
  display: felx;
  gap: 1rem;
  justify-content: center;
}

nav a{
  padding: 0.4rem 0.8rem;
  border: 1px solid oklch(50% 10% 200 / 40%);
  border-radius: 4px;
  text-decoration: none;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

input, textarea, button, select {
    font-family: inherit;
}