body {
  font: 100%/1.5 system-ui;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

  img {
      max-width: 400px;
  }

  nav a.current {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 210, 210);
  }

:root{
  color-scheme: light dark;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.2em;
  border-bottom: 2px solid rgb(158, 158, 158);
}

nav a{
  padding: 0.5em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a:hover{
  border-bottom: 4px solid grey;
  font-weight: bold;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

input, textarea, button, select {
    font-family: inherit;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
  text-align: left;
}

label {
  font-weight: bold;
}

input, textarea, button {
  width: 100%;
  box-sizing: border-box;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 0 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

#projects-pie-chart {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 2em;
  margin-block: 2em;
}

#projects-pie-chart svg {
  width: 10em;
  height: 10em;
  flex-shrink: 0; /* pie chart never shrinks */
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  list-style: none;
  padding: 1em;
  gap: 0.5em;
  border: 1px solid lightgrey;
  border-radius: 0.5em;
  flex: 1; 
  min-width: 0; 
}

.legend-item{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch{
  display: inline-block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}

.searchbar {
  min-height: 3em;
  font-size: 1.2em;
}

&:has(path:hover){
  path:not(:hover){
    opacity: 0.5;
  }
}

path{
  transition: 300ms;
  cursor: pointer;
}

.selected{
  --color: oklch(61.67% 0.25308 29.223)!important;

  &:is(path){
    fill: var(--color);
  }
}


svg:has(.selected) path:not(.selected) {
  opacity: 0.3;
}

ul.legend:has(.selected) li:not(.selected) {
  opacity: 0.3;
}